.jumbotron{
  background-image: url("https://images.unsplash.com/photo-1496224303445-89779ef1ed23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  color: white;
  padding:200px 0 100px 0;
}

.test{
  background-color: #e6e6e6;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.tab {
  margin-left:300px;
}

.h1 {
  margin-left: 50px;
  font-family: 'Sofia';font-size: 22px;
}

.center {
  display: flex;
  justify-content: center;
}

.carousel .item {
  height: 400px;
  width:auto;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
}

.box:hover {
  border: 2px solid blue;

}

.box{
  font-size: 17px;
}

.box p {
  font-family: "Times New Roman", Times, serif;
}

nav a{
    color: white;
    font-size: 1.3em;
}

.article p{
  font-family: 'Playfair Display', serif;
  font-size: 17px;
}
